#product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 20vw;
    max-height: 15vw;
    border-radius: 9px;
    border: 2px dashed var(--coral);
    background-color:var(--bone);
    gap:22px;
}
  #product-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    gap:9px;
}
  .product-option{
    border: 1px solid var(--coral);
    border-radius: 5px;
    padding:2px;
    font-size: var(--sm);
}
  #product > img{
    width:50%;
    aspect-ratio: 3/2;
    object-fit: cover;
    mix-blend-mode: multiply;
}