*{
  /*------color-------*/
  /*fuente: https://colorhunt.co/palette/f9f5ebe4dccfea5455002b5b*/
  --bone: #F9F5EB;
  --dark-bone: #E4DCCF;
  --coral: #EA5455;
  --blue: #002B5B;
  --glacial: #1c518e;
  /*----font-size------*/
  --sm:1rem;
  --md:1.5rem;
  --lg:2rem;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  align-self: center;
  font-size: var(--lg);
  color: var(--blue);
  margin-bottom:0;
}

body{
background-color: var(--blue);
height: 100vh;
display: flex;
flex-direction: column;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

a{
  color: var(--coral);
  text-decoration: none;
}

button>a>img{
  width:50%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: multiply;
}

hr{
  border:none;
  width: 50%;
  height: 1px;
  color: var(--glacial);
  background-color: var(--glacial);
}

.App{
  height:90vh;
}

#nav-bar-container{
  width: 100vw;
  height: 5vh;
  background-color: var(--glacial);
}

#navbar{
  z-index: 1;
  position: sticky;
  top: 0;
  width: 99.2vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#logo{
  padding: 3px 0 3px 0;
}

#navbar-corporate-brand{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
}

#corporate-brand-logo{
  padding: 3px 0 3px 0;
}

#navbar-options{
  width: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap:25px;
  padding:0;
  font-weight: 400;
}

#loading_screen{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#002a5b8c
}
#loading_screen>img{
  max-width: 100px;
  animation: spin 3s linear infinite;  
}

#home-content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px;
}

#product-card{
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color:#EA5455;
}
#buy-button{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding-top:25px;
  width:500px;
  height: 50px;
  font-size: var(--md);
  border:2px solid var(--glacial);
  border-radius: 55px;
  background-color:#001833;
  padding: 0 0 5px 0;
}

#product-line-title{
  text-align: center;;
  font-size: var(--lg);
  font-weight: 500;
  color: var(--coral);
  width:auto;
}
#product{
  width: 20vw;
  height: 25vh;
  border-radius: 9px;
  border: 2px dashed var(--coral)
}

#product > img{
  width:200px;
  height:150px;
  object-fit: cover;
}

#product-options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;

  gap:9px;
}

.product-option{
  border: 1px solid var(--coral);
  border-radius: 5px;
  padding:2px;
  font-size: var(--sm);
}

#not-found-message{
  width: 100vw;
  height: 80vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: var(--coral)
}

.login-options{
  display: flex;
  flex-direction:row;
  align-items: center;
}

.login-options>button{
  margin-top:0.4375rem;
  border:none;
  background-color:rgba(255, 255, 255, 0);
  font-weight: 500;
}

.login-content{
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-bubble{
  border: 3px dashed var(--coral);
  border-radius: 55px;
  background-color: var(--dark-bone);
  width: min(70vw - 5px, 750px);
  height: 30vh;
  margin-inline: auto;
}

.register-bubble{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-inline: auto;
}

#register-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: min(70vw - 5px, 750px);
  height: 75vh;
  border: 3px dashed var(--coral);
  border-radius: 55px;
  background-color: var(--dark-bone);
  padding: 0 0 20px 0;
}
.register-button{
  align-self: center;
  width: 50%;
  height: 40px;
  border-radius: 55px;
  border: none;
  background-color: var(--blue);
  color: var(--coral);
  font-size: var(--md);
  cursor:pointer;
  padding-bottom: 3px;
}

#login-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.labeled-input{
  align-self:center;
  width: 80%;
  height: 3,5vh;
  color: var(--blue);
  font-weight: 500;
}

.register-input{
  width: 100%;
  height: 30px;
  border: 2px solid var(--coral);
  border-radius: 55px;
}

.login-button{
  align-self: center;
  font-size: var(--md);
  border-radius: 55px;
  border: none;
  padding-bottom: 6px;
  background-color: var(--blue);
  color: var(--coral);
  width: 25%;
  cursor: pointer;
}

#product-detail-img{
  height:auto;
  width:50%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

#legal-footer{
  color:var(--glacial);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error-msg{
  margin: 0;
  font-size: 11px;
  color:red;
}

#search{
  margin-bottom: 3vh;
  width: 50vw;
  height: 2.5vh;
  border:none;
  padding-left:1vw;
  border-radius: 55px;
}

.search-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropbtn {
  background-color: var(--glacial);
  color: var(--coral);
  padding: 0;
  font-size: var(--sm);
  border: none;
  cursor:pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--glacial);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--coral);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #143a67;}

.login-options a:hover {text-decoration: underline;}

.dropdown:hover .dropdown-content {display: block;}

#alert-error-msg{
  align-self: center;
  font-size: var(--sm);
  color: red;
}
#alert-success-msg{
  align-self: center;
  font-size: var(--sm);
  color: green;
}

.custom-loader {
  width:25px;
  height:6px;
  background: 
    radial-gradient(circle closest-side,#EA5455 90%,#0000) 0%   50%,
    radial-gradient(circle closest-side,#EA5455 90%,#0000) 50%  50%,
    radial-gradient(circle closest-side,#EA5455 90%,#0000) 100% 50%;
  background-size:calc(100%/3) 100%;
  background-repeat: no-repeat;
  animation:d7 2s infinite linear;
}
@keyframes d7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}

#load-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

input[type=number] {
  -moz-appearance: textfield;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}