*{
  /*------color-------*/
  /*fuente: https://colorhunt.co/palette/f9f5ebe4dccfea5455002b5b*/
  --bone: #F9F5EB;
  --dark-bone: #E4DCCF;
  --coral: #EA5455;
  --blue: #002B5B;
  --glacial: #1c518e;
  /*----font-size------*/
  --sm:1rem;
  --md:1.5rem;
  --lg:2rem;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  align-self: center;
  font-size: var(--lg);
  color: var(--blue);
  margin-top:3% 0 3% 0;
}

h2,h4{
  margin: 0;
}

body{
background-color: var(--blue);
height: 100vh;
display: flex;
flex-direction: column;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

a{
  color: var(--coral);
  text-decoration: none;
}

hr{
  border:none;
  width: 50%;
  height: 1px;
  color: var(--glacial);
  background-color: var(--glacial);
}

input[type=number] {
  -moz-appearance: textfield;
}

.App{
  height:100vh;
}

#register-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: min(70vw - 5px, 750px);
  height: 75vh;
  border: 3px dashed var(--coral);
  border-radius: 55px;
  background-color: var(--dark-bone);
  padding: 0 0 20px 0;
}

.register-bubble{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-inline: auto;
}

#home-content{
  width: auto;
  min-height:73vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px;
}

#product-line-title{
  text-align: center;;
  font-size: var(--lg);
  font-weight: 500;
  color: var(--coral);
  width:auto;
}

#error-msg{
  margin: 0;
  font-size: 11px;
  color:red;
}

#form-bubble{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 84.5%;
}

#form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: min(70vw - 5px, 650px);
  height: auto;
  border: 3px dashed var(--coral);
  border-radius: 55px;
  background-color: var(--dark-bone);
}

.button{
  align-self: center;
  width: 50%;
  height: auto;
  border-radius: 55px;
  border: none;
  background-color: var(--blue);
  color: var(--coral);
  font-size: var(--md);
  cursor:pointer;
  padding-bottom: 3px;
}